<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>{% block title %}

		{% endblock title %}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.svg">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/all.min.css">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

	<!-- Slick CSS -->
	<link rel="stylesheet" href="/static/plugins/slick/slick.css">
	<link rel="stylesheet" href="/static/plugins/slick/slick-theme.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/static/plugins/select2/css/select2.min.css">

	<link rel="stylesheet" href="/static/plugins/dropzone/dropzone.min.css">

	<!-- Boxioons CSS -->
	<link rel="stylesheet" href="/static/plugins/boxicons/css/boxicons.min.css">

	<!-- Aos CSS -->
	<link rel="stylesheet" href="/static/plugins/aos/aos.css">

	<!-- Swiper CSS -->
	<link rel="stylesheet" href="/static/plugins/swiper/swiper.min.css">


	<!-- feature -->
	<link rel="stylesheet" href="/static/css/feather.css">



	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/message_box.css">


	<style>
		.authenticated {
			display: none;
		}

		.unauthenticated {
			display: none;
		}

		.icon-button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			color: #333333;
			background: #dddddd;
			border: none;
			outline: none;
			border-radius: 50%;
		}

		.icon-button:hover {
			cursor: pointer;
		}

		.icon-button:active {
			background: #cccccc;
		}

		.icon-button__badge {
			position: absolute;
			top: -10px;
			right: -10px;
			width: 25px;
			height: 25px;
			background: red;
			color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}


		/* Show elements when needed */
	</style>
	{% block link %}

	{% endblock link %}
	{% block style %}

	{% endblock style %}`

</head>

<body>
	<div class="wrapper-success" id="message-box" style="position: fixed;z-index:1000000;max-width: 480px;
    min-width: 330px;">

		<div id="card" style="transition-duration: 2s;width:100%">
			<a href="#" id="common_message" style="display:flex;width:100%;">
				<div class="icon" id="message-icon-parent" style="margin-right: 15px;"><i class="fas fa-times-circle "
						id="message-icon-child"></i>
				</div>
				<div class="subject" style="width: 100%;">
					<h3 id="message-type">Success</h3>
					<p id="message-content"></p>
				</div>
			</a>
			<div class="icon-times" id="message_close"><i class="fas fa-times"></i></div>
		</div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper" style="margin-top:-20px;">

		<!-- Header -->
		<header class="header">
			<div class="header-fixed">
				<nav class="navbar navbar-expand-lg header-nav scroll-sticky">
					<div class="container" style="flex-wrap: nowrap;">
						<div class="navbar-header">
							<a id="mobile_btn" href="javascript:void(0);">
								<span class="bar-icon">
									<span></span>
									<span></span>
									<span></span>
								</span>
							</a>
							<a href="/index/" class="navbar-brand logo">
								<img src="/static/img/logo.svg" class="img-fluid" alt="Logo">
							</a>
						</div>
						<div class="main-menu-wrapper menu-authenticated" style="display:none;">
							<div class="menu-header">
								<a href="/index/" class="menu-logo">
									<img src="/static/img/logo.svg" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav" id="menu-add-authenticated">
								<li class="has-submenu">
									<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
									<a href="/index/">Home </a>

									<!-- <ul class="submenu">
											<li class="active"><a href="/index/">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
											<li><a href="index-three.html">Home Three</a></li>
											<li><a href="index-four.html">Home Four</a></li>
										</ul> -->
								</li>
								<!-- <li class="has-submenu"> -->
								<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
								<!-- <a href="#">Today's Feed </a> -->

								<!-- <ul class="submenu">
											<li class="active"><a href="/index/">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
											<li><a href="index-three.html">Home Three</a></li>
											<li><a href="index-four.html">Home Four</a></li>
										</ul> -->
								<!-- </li> -->
								<li class="has-submenu" id="user_dashbored">


									<!-- <a class="" href="#">Dashboard</a> -->
									<!-- <ul class="submenu">
										<li><a href="#">Fan Dashbored</a></li>
										<li><a href="/creator/">Creator Dashbored</a></li>
									</ul> -->
								</li>
								<li class="has-submenu">
									<a href="#">You Chatted With<i class="fas fa-chevron-down"></i></a>
									<ul class="submenu" id="all_creators_authenticated">
										<!-- <li class="has-submenu">
												<a href="#">Instructor</a>
												<ul class="submenu">
													<li><a href="#">List</a></li>
													<li><a href="#">Grid</a></li>
												</ul>
											</li> -->



									</ul>
								</li>
								<!-- <li class="has-submenu"> -->
								<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
								<!-- <a href="#">Contact Us </a> -->

								<!-- <ul class="submenu">
											<li class="active"><a href="/index/">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
											<li><a href="index-three.html">Home Three</a></li>
											<li><a href="index-four.html">Home Four</a></li>
										</ul> -->
								<!-- </li> -->
								<!-- <li class="has-submenu">
										<a href="#">Instructor <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li class="has-submenu">
												<a href="instructor-list.html">Instructor</a>
												<ul class="submenu">
													<li><a href="instructor-list.html">List</a></li>
													<li><a href="instructor-grid.html">Grid</a></li>
												</ul>
											</li>
											<li><a href="instructor-dashboard.html">Dashboard</a></li>
											<li><a href="instructor-profile.html">My Profile</a></li>
											<li><a href="instructor-course.html">My Course</a></li>
											<li><a href="instructor-wishlist.html">Wishlist</a></li>
											<li><a href="instructor-reviews.html">Reviews</a></li>
											<li><a href="instructor-quiz.html">My Quiz Attempts</a></li>
											<li><a href="instructor-orders.html">Orders</a></li>
											<li><a href="instructor-qa.html">Question & Answer</a></li>
											<li><a href="instructor-referral.html">Referrals</a></li>
											<li><a href="instructor-chat.html">Messages</a></li>
											<li><a href="instructor-tickets.html">Support Ticket</a></li>
											<li><a href="instructor-notifications.html">Notifications</a></li>
											<li><a href="instructor-settings.html">Settings</a></li>
										</ul>
									</li>	 -->




							</ul>
						</div>
						<div class="main-menu-wrapper menu-unauthenticated " style="display:none;">
							<div class="menu-header">
								<a href="/index/" class="menu-logo">
									<img src="/static/img/logo.svg" class="img-fluid" alt="Logo">
								</a>
								<a id="menu_close" class="menu-close" href="javascript:void(0);">
									<i class="fas fa-times"></i>
								</a>
							</div>
							<ul class="main-nav" id="menu-add-unauthenticated">
								<li class="has-submenu">
									<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
									<a href="/index/" class="">Home </a>

									<!-- <ul class="submenu">
											<li class="active"><a href="/index/">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
											<li><a href="index-three.html">Home Three</a></li>
											<li><a href="index-four.html">Home Four</a></li>
										</ul> -->
								</li>
								<!-- <li class="has-submenu"> -->
								<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
								<!-- <a href="#">Today's Feed </a> -->

								<!-- <ul class="submenu">
											<li class="active"><a href="/index/">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
											<li><a href="index-three.html">Home Three</a></li>
											<li><a href="index-four.html">Home Four</a></li>
										</ul> -->
								<!-- </li> -->

								<li class="has-submenu">
									<a href="#">You Talked with's <i class="fas fa-chevron-down"></i></a>
									<ul class="submenu" id="all_creators_unauthenticated">
										<!-- <li class="has-submenu">
												<a href="#">Instructor</a>
												<ul class="submenu">
													<li><a href="#">List</a></li>
													<li><a href="#">Grid</a></li>
												</ul>
											</li> -->
										<li><a href="#">Popular</a></li>
										<li><a href="#">Men</a></li>
										<li><a href="#">Women</a></li>
										<li><a href="#">Common</a></li>


									</ul>
								</li>
								<!-- <li class="has-submenu"> -->
								<!-- <a href="#">About Us <i class="fas fa-chevron-down"></i></a> -->

								<!-- <a class="" href="#">Dashboard</a> -->
								<!-- <ul class="submenu"> -->
								<!-- <li><a href="#">Pricing Policy </a></li> -->
								<!-- <li><a href="/creator/">Creator Dashbored</a></li> -->
								<!-- </ul> -->
								<!-- </li> -->
								<!-- <li class="has-submenu"> -->
								<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
								<!-- <a href="#">Contact Us </a> -->

								<!-- <ul class="submenu">
											<li class="active"><a href="/index/">Home</a></li>
											<li><a href="index-two.html">Home Two</a></li>
											<li><a href="index-three.html">Home Three</a></li>
											<li><a href="index-four.html">Home Four</a></li>
										</ul> -->
								<!-- </li> -->
								<!-- <li class="has-submenu">
										<a href="#">Instructor <i class="fas fa-chevron-down"></i></a>
										<ul class="submenu">
											<li class="has-submenu">
												<a href="instructor-list.html">Instructor</a>
												<ul class="submenu">
													<li><a href="instructor-list.html">List</a></li>
													<li><a href="instructor-grid.html">Grid</a></li>
												</ul>
											</li>
											<li><a href="instructor-dashboard.html">Dashboard</a></li>
											<li><a href="instructor-profile.html">My Profile</a></li>
											<li><a href="instructor-course.html">My Course</a></li>
											<li><a href="instructor-wishlist.html">Wishlist</a></li>
											<li><a href="instructor-reviews.html">Reviews</a></li>
											<li><a href="instructor-quiz.html">My Quiz Attempts</a></li>
											<li><a href="instructor-orders.html">Orders</a></li>
											<li><a href="instructor-qa.html">Question & Answer</a></li>
											<li><a href="instructor-referral.html">Referrals</a></li>
											<li><a href="instructor-chat.html">Messages</a></li>
											<li><a href="instructor-tickets.html">Support Ticket</a></li>
											<li><a href="instructor-notifications.html">Notifications</a></li>
											<li><a href="instructor-settings.html">Settings</a></li>
										</ul>
									</li>	 -->

								<li class="mobile-login-singup visibleonly" style="display: none;">

									<a href="/signin/">Login/Signup</a>
								</li>


							</ul>
						</div>
						<ul class="nav header-navbar-rht  authenticated">
							<li class="nav-item dropdown">

								<button type="button" class="icon-button nav-link dropdown-toggle"
									data-bs-toggle="dropdown" style="background-color: #fae2e0;" aria-expanded="false">
									<i class="fas fa-envelope" style="color: #ff4667;"></i>
									<span class="icon-button__badge" id="notification_count"
										style="display: none;">0</span>
								</button>
								<ul class="dropdown-menu dropdown-menu-end" id="notification_all"
									style="width: 300px; max-height: 400px; overflow: auto; scrollbar-width: none; -ms-overflow-style: none; ">
								</ul>


							</li>
							<li class="nav-item dropdown">

								<button type="button" class="icon-button nav-link dropdown-toggle"
									data-bs-toggle="dropdown" style="background-color: #fae2e0;" aria-expanded="false">
									<i class="fas fa-bell" style="color: #ff4667;"></i>
									<span class="icon-button__badge" style="display: none;"
										id="main_notification_count">0
									</span>
								</button>
								<ul class="dropdown-menu dropdown-menu-end"
									style="width: 300px; max-height: 400px; overflow: auto; scrollbar-width: none; -ms-overflow-style: none;"
									id="main_notification_all">

								</ul>

							</li>
							<li class="nav-item user-nav">
								<a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
									<span class="user-img">
										<img id="profile_image" src="/media/profile_pictures/default_profile_image.png"
											alt="Img">
										<span class="status online"></span>
									</span>
								</a>
								<div class="users dropdown-menu dropdown-menu-right" data-popper-placement="bottom-end">
									<div class="user-header">
										<div class="avatar avatar-sm">
											<img id="profile_image2"
												src="/media/profile_pictures/default_profile_image.png" alt="User Image"
												class="avatar-img rounded-circle">
										</div>
										<div class="user-text">
											<h6 id="profile_username">Eugene Andre</h6>
										</div>
									</div>
									<a class="dropdown-item profile-update" href="/myprofile/"><i
											class="feather-star me-1"></i>My
										Profile</a>

									<a class="dropdown-item" href="/upload-video/"><i
											class="feather-upload me-1"></i>Upload Video
									</a>
									<a class="dropdown-item" href="/myvideo/"><i class="feather-home me-1"></i>My
										Videos</a>


									<!-- <div class="dropdown-item night-mode">
											<span><i class="feather-moon me-1"></i> Night Mode </span>
											<div class="form-check form-switch check-on m-0">
												<input class="form-check-input" type="checkbox" id="night-mode">
											</div>
										</div> -->
									<div class="dropdown-item" onClick="LogoutApi()"><i
											class="feather-log-out me-1"></i> Logout</div>
								</div>
							</li>

						</ul>

						<!-- Unauthenticated Navbar -->
						<ul class="nav header-navbar-rht unauthenticated" id="user_not_authenticatd">
							<li class="nav-item">
								<a class="nav-link header-sign" href="/signin/">Signin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link header-login" href="/signup/">Signup</a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!-- /Header -->

		{% block body %}

		{% endblock body %}

		<!-- Footer -->
		<footer class="footer">

			<!-- Footer Top -->
			<div class="footer-top aos" data-aos="fade-up">
				<div class="container">
					<div class="row" style="display: flex;
    justify-content: space-between;padding: 20px 0px;
">
						<div class="col-lg-4 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-about">
								<div class="footer-logo">
									<img src="/static/img/logo.svg" alt="logo">
								</div>
								<div class="footer-about-content">
									<p>Welcome to DreamsLMS! Showcase your videos and connect with an audience. Share
										your passion and creativity with the world.</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>


						<div class="col-lg-2 col-md-6 " id="footer-authentication">
							<!-- Footer Widget -->
							<!-- /Footer Widget -->
						</div>
						<div class="col-lg-2 col-md-6" id="footer-unauthentication">
							<!-- Footer Widget -->
							<!-- /Footer Widget -->
						</div>



						<div class="col-lg-2 col-md-6" id="footer-common-links">
							<!-- Footer Widget -->
							<!-- /Footer Widget -->
						</div>


						<div class="col-lg-4 col-md-6">
							<!-- Footer Widget -->
							<div class="footer-widget footer-contact">
								<h2 class="footer-title">Contact Us</h2>
								<div class="footer-contact-info">
									<div class="footer-address">
										<img src="/static/img/icon/icon-20.svg" alt="Img" class="img-fluid">
										<p>3556 Beech Street, San Francisco,<br> California, CA 94108</p>
									</div>
									<p>
										<img src="/static/img/icon/icon-19.svg" alt="Img" class="img-fluid">
										dreamslms@example.com
									</p>
									<p class="mb-0">
										<img src="/static/img/icon/icon-21.svg" alt="Img" class="img-fluid">
										+19 123-456-7890
									</p>
								</div>
							</div>
							<!-- /Footer Widget -->
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Top -->

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="privacy-policy">
								<ul>
									<li><a href="term-condition.html">Terms</a></li>
									<li><a href="privacy-policy.html">Privacy</a></li>
								</ul>
							</div>
						</div>
						<div class="col-md-6 text-md-end">
							<div class="copyright-text">
								<p class="mb-0">&copy; 2024 DreamsLMS. All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Footer Bottom -->

		</footer>

		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->

	<script src="/static/js/jquery-3.7.1.min.js"></script>

	<script src="/static/js/ckeditor.js"></script>

	<script src="/static/plugins/dropzone/dropzone.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/static/js/bootstrap.bundle.min.js"></script>

	<script src="/static/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="/static/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>


	<!-- counterup JS -->
	<script src="/static/js/jquery.waypoints.js"></script>
	<script src="/static/js/jquery.counterup.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="/static/js/jquery.slimscroll.min.js"></script>
	<!-- Swiper JS -->
	<script src="/static/plugins/swiper/swiper.min.js"></script>


	<!-- Select2 JS -->
	<script src="/static/plugins/select2/js/select2.min.js"></script>

	<!-- Owl Carousel -->
	<script src="/static/js/owl.carousel.min.js"></script>

	<!-- Slick Slider -->
	<script src="/static/plugins/slick/slick.js"></script>

	<!-- Aos -->
	<script src="/static/plugins/aos/aos.js"></script>

	<!-- Custom JS -->
	<script src="/static/js/script.js"></script>

	<script>
		let profileId = 0
		const authenticated = localStorage.getItem("jerry_project_access_token");
		const refresh_token = localStorage.getItem("jerry_project_refresh_token");

		const message_box = document.getElementById("message-box");
		const message_content = document.getElementById("message-content");
		const message_type = document.getElementById("message-type");
		const message_icon_parent = document.getElementById("message-icon-parent");
		const message_icon_child = document.getElementById("message-icon-child");

		const card = document.getElementById("card");
		document.addEventListener('DOMContentLoaded', function () {
			console.log(authenticated)

			if (authenticated) {
				document.querySelectorAll('.authenticated').forEach(function (element) {
					element.style.display = "block";
					element.classList.add("visible");
				});

				document.querySelector(".menu-authenticated").style.display = "block"
				document.querySelector(".menu-unauthenticated").style.display = "none"


				document.querySelectorAll('.unauthenticated').forEach(function (element) {
					element.style.display = "none";
				});
			} else {
				document.querySelectorAll('.authenticated').forEach(function (element) {
					element.style.display = "none";
				});

				document.querySelector(".menu-authenticated").style.display = "none"
				document.querySelector(".menu-unauthenticated").style.display = "block"

				document.querySelectorAll('.unauthenticated').forEach(function (element) {
					element.style.display = "block";
				});
			}
		});

		if (authenticated) {

			console.log("called")
			let token = authenticated
			userApi = async () => {
				await fetch(`${window.location.origin}/api/user/`, {
					"method": "get",
					"headers": {
						"content-type": "application/json",
						"Authorization": `Bearer ${token}`
					}
				}).then((response) => {
					return response.json()
				}).then((response) => {

					if (response.success) {
						profileId = response.data.id
						get_other_user(profileId)

						console.log(response.data.image)
						sharebutton(response.data.username)
						check_user_creator()

						document.getElementById("profile_image").src = `${response.data.profile_picture}`
						document.getElementById("profile_image2").src = `${response.data.profile_picture}`
						document.getElementById("profile_username").innerHTML = `${response.data.username}`
						if (response.data.profile_picture == "") {

							let profile_page_image = document.getElementById("profile_page_image")
							if (profile_page_image) {
								profile_page_image.src = '/media/profile_pictures/default_profile_image.png'
							}
						}
						else {
							let profile_page_image = document.getElementById("profile_page_image")
							console.log(profile_page_image)
							if (profile_page_image) {

								profile_page_image.src = `${response.data.profile_picture}`
							}
						}


						console.log(response.data.username)
						if (response.data.username == "") {
							let profile_page_username = document.getElementById("profile_page_username2")
							if (profile_page_username) {

								profile_page_username.innerHTML = "username"
							}


						}
						else {

							let profile_page_username = document.getElementById("profile_page_username2")
							if (profile_page_username) {

								if (response.data.username.length > 14) {
									document.getElementById("profile_page_username2").innerHTML = `@${response.data.username.length > 14 ? `${response.data.username.substring(0, 14)}...` : response.data.username}`;
								} else {
									profile_page_username.innerHTML = response.data.username;
								}
							}



						}
						initializeWebSocket(response.data.uuid, response.data.id)
						fetchNotificationNotRead(response.data.id)
						mainFetchNotification(response.data.id)
					}
					console.log(response)
				})
			}
			userApi()
		}
		else {
			talking_to_empty()
		}
		async function LogoutApi() {
			card.style.display = "none";
			if (!confirm("Are you sure you want to log out?")) {
				return; // Exit the function if the user cancels
			}
			if (authenticated) {
				token = authenticated
				data = {
					"refresh_token": refresh_token
				}
				await fetch(`${window.location.origin}/api/user/logout/`, {
					"method": "POST",
					"headers": {
						"content-type": "application/json",
						"Authorization": `Bearer ${token}`
					},
					"body": JSON.stringify(data)

				}).then((response) => {
					return response.json()
				}).then((response) => {
					if (response.success) {
						localStorage.removeItem("jerry_project_access_token")
						localStorage.removeItem("jerry_project_refresh_token")

						card.style.display = "flex";
						card.style.borderLeft = "10px solid green";

						message_content.innerHTML = response.message;
						message_type.innerHTML = "Success";
						message_type.style.color = "green";
						message_icon_parent.style.color = "green";
						message_icon_child.classList = "fas fa-check-circle";

						setTimeout(() => {
							window.location.href = "/index/"
						}, 3000)

					}
					else {
						message_content.innerHTML = response.message;
						card.style.display = "flex";
						card.style.borderLeft = "10px solid red";
						message_type.innerHTML = "Error";
						message_type.style.color = "red";
						message_icon_parent.style.color = "red";
						message_icon_child.classList = "fas fa-times-circle";
					}
					setTimeout(() => {
						card.style.display = "none";

					}, 3000)

				}).catch((error) => {
					message_content.innerHTML = "An error occurred. Please try again.";
					card.style.display = "block";
					card.style.borderLeft = "10px solid red";
					message_type.innerHTML = "Error";
					message_type.style.color = "red";
					message_icon_parent.style.color = "red";
					message_icon_child.classList = "fas fa-times-circle";

					setTimeout(() => {
						card.style.display = "none";
					}, 3000);
				});
			}
		}

		document.getElementById("message_close").addEventListener('click', () => {
			const card = document.getElementById("card");
			if (card) {
				card.style.display = "none"; // Hide the card
				// Or, if you want to completely remove the card from the DOM:
				// card.remove();
			}
		});

		function initializeWebSocket(userUuid, userid) {
			//const token = localStorage.getItem("jerry_project_access_token");
			const protocol = window.location.protocol === 'https:' ? 'wss:' : 'ws:';
			const socketUrl = window.location.protocol === 'https:'
				? `${protocol}//${window.location.host}:8001/ws/notification/${userUuid}/`
				: `${protocol}//${window.location.host}/ws/notification/${userUuid}/`;


			const ws = new WebSocket(socketUrl);

			ws.onopen = () => {
				console.log("WebSocket connection established.");
			};

			ws.onmessage = (event) => {
				const data = JSON.parse(event.data);
				console.log(data);

				if (data.type == "notification") {

					showNotification(data, userid);
				}
				if (data.type == "main_notification") {
					console.log("main_notification")
					showMainNotification(data, userid)
					if (window.location.pathname === "/creator/") {
						window.location.reload(); // Reload the page
					}
				}

				// Handle the incoming WebSocket message here
			};

			ws.onclose = () => {

				console.log("WebSocket connection closed.");
			};

			ws.onerror = (error) => {
				console.error("WebSocket error:", error);
			};
			window.addEventListener('beforeunload', () => {
				if (ws.readyState === WebSocket.OPEN) {
					console.log("WebSocket connection closed due to page unload.");
					ws.close();
				}
			});
		}

		// Show notification from WebSocket
		function showNotification(data, userid) {
			const message_box = document.getElementById("message-box");
			const message_content = document.getElementById("message-content");
			const message_type = document.getElementById("message-type");
			const message_icon_parent = document.getElementById("message-icon-parent");
			const message_icon_child = document.getElementById("message-icon-child");
			const link_common_message = document.getElementById("common_message");

			link_common_message.href = `${data.link}`;
			message_content.innerHTML = `You have received a new message from ${data.sender_username}`;
			card.style.display = "flex";
			card.style.borderLeft = "10px solid #3db5dc";
			message_type.innerHTML = `${data.notification_type}`;
			message_type.style.color = "#3db5dc";
			message_icon_parent.style.color = "#3db5dc";
			message_icon_child.classList = "fas fa-exclamation-circle";

			link_common_message.onclick = function () {
				markAsRead(data.notification_id);
			};

			const notification_null = document.getElementById('notification-null');
			if (notification_null) {
				notification_null.remove();  // Remove the "empty list" message if present
			}

			const notification_all = document.getElementById("notification_all");
			const notification_count = document.getElementById("notification_count");

			// Parse and format the timestamp
			const timestamp = new Date(data.timestamp);
			const formattedDate = timestamp.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' });
			const formattedTime = timestamp.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true });

			// Check if a notification with the same ID already exists
			let existingNotification = null;
			const notificationItems = notification_all.querySelectorAll('li');
			for (let i = 0; i < notificationItems.length; i++) {
				const id = notificationItems[i].getAttribute('data-notification-id');
				if (id == data.notification_id) {
					existingNotification = notificationItems[i];
					break;
				}
			}

			if (existingNotification) {
				// Update existing notification
				const countSpan = existingNotification.querySelector('.dropdown-item span');
				countSpan.style.display = "block";
				const currentCount = parseInt(countSpan.textContent.replace('(', '').replace(')', ''));
				countSpan.textContent = `(${currentCount + 1})`;
				console.log("currentcount", currentCount)

				const messageParagraph = existingNotification.querySelector('.dropdown-item div:last-child');
				messageParagraph.innerHTML = `${data.message}`;

				//const timestampSpan = existingNotification.querySelector('p span');
				//timestampSpan.textContent = `${formattedDate} ${formattedTime}`;
			} else {
				// Add new notification
				let newNotification = `
					<li data-notification-id="${data.notification_id}" onclick="markAsRead('${data.notification_id}')">
						<a href="${data.link}">
							<div style="display: flex; justify-content: center; align-items: center; margin-top: 10px; margin-left: 10px;">
								<span id="notification_count" style="display: flex; position: absolute; top: 5px; left: 10px; width: 10px; height: 10px; background: green; color: #ffffff; justify-content: center; align-items: center; border-radius: 50%;"></span>
								<img src="/media/${data.sender_profile_picture}" style="width:50px; height:50px; border-radius:50px;" />
								<div class="dropdown-item" style="font-weight: 600; display: block;">
									${data.sender_username} <span id="single_notification_count" style="float:right;">(${data.count})</span>
									<div style="color: grey; word-wrap: break-word; overflow-wrap: break-word; text-wrap: wrap;">${data.message}</div>
								</div>
							</div>
							<!-- <p style="color: grey; padding: 0px 15px;">
								<span style="float: right;">${formattedDate} ${formattedTime}</span>
							</p> -->
						</a>
					</li>
								<hr style="margin-bottom:0px;">

				`;
				notificationbottom = document.getElementById('notificationbottom')
				if (!notificationbottom) {
					newNotification += `
							<div id="notificationbottom" style="position: sticky; bottom: 0; background-color: #fff; padding: 10px; text-align: center; border-top: 1px solid #ddd;">
		<a href="/contact-list/" style="color: #ff4667; font-weight: 500;">
			See All in Inbox
		</a>
	</div>`
				}
				notification_all.insertAdjacentHTML('afterbegin', newNotification);
			}

			// Update the main notification count
			notification_count.style.display = "block";
			const currentMainCount = parseInt(notification_count.innerHTML) || 0;
			notification_count.innerHTML = currentMainCount + 1;
		}

		async function fetchNotificationNotRead(userid) {
			const url = new URL(`${window.location.origin}/api/notification/unread-for-user/`);
			url.searchParams.append('user_id', userid);

			await fetch(url, {
				method: "GET",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				}
			}).then((response) => {
				return response.json();
			}).then((response) => {
				if (response.success) {
					const notification_all = document.getElementById("notification_all");
					const notification_count = document.getElementById("notification_count");
					let str = "";
					let totalnotification = 0;

					if (response.data.length > 0) {
						response.data.forEach((data) => {
							const timestamp = new Date(data.timestamp);
							const formattedDate = timestamp.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' });
							const formattedTime = timestamp.toLocaleTimeString('en-US', { hour: '2-digit', minute: '2-digit', hour12: true });

							str += `
								<li data-notification-id="${data.id}" onclick="markAsRead('${data.id}')">
									<a href="${data.link}">
										<div style="display: flex; justify-content: center; align-items: center; margin-top: 10px; margin-left: 10px;">
											<span id="notification_count" style="display: ${data.is_read ? 'none' : 'flex'}; position: absolute; top: 5px; left: 10px; width: 10px; height: 10px; background: green; color: #ffffff; justify-content: center; align-items: center; border-radius: 50%;"></span>
											<img src="/media/${data.sender_profile_picture}" style="width:50px; height:50px; border-radius:50px;" />
											<div class="dropdown-item" style="font-weight: 600; display: block;">
												${data.sender_username} <span id="single_notification_count" style="float: right; ${data.is_read ? 'display: none;' : ''}">(${data.count})</span>
												<div style="color: grey; word-wrap: break-word; overflow-wrap: break-word; text-wrap: wrap;">${data.message}</div>
											</div>
										</div>
										<!-- <p style="color: grey; padding: 0px 15px;">
											<span style="float: right;">${formattedDate} ${formattedTime}</span>
										</p> -->
									</a>
								</li>
								<hr style="margin-bottom:0px;">
							`;
							if (!data.is_read) totalnotification += data.count;
						});





						if (totalnotification > 0) {

							notification_count.innerHTML = totalnotification;
							notification_count.style.display = "block";
						}
						str += `
							<div id="notificationbottom" style="position: sticky; bottom: 0; background-color: #fff; padding: 10px; text-align: center; border-top: 1px solid #ddd;">
		<a href="/contact-list/" style="color: #ff4667; font-weight: 500;">
			See All in Inbox
		</a>
	</div>`
						notification_all.innerHTML = str;

					} else {
						str = `
							<li id="notification-null" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 80px;">
								<div>Your message list is empty</div>
							</li>
						`;
						notification_count.style.display = "none";
						notification_count.innerHTML = "0";
						notification_all.innerHTML = str;

					}



				}
			});
		}


		async function markAsRead(notificationid) {
			const url = `${window.location.origin}/api/notification/single-mark-as-read/`;
			const data = {
				notification_id: notificationid
			};

			await fetch(url, {
				method: "POST",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				},
				body: JSON.stringify(data)
			}).then((response) => {
				return response.json();
			}).then((response) => {
				console.log(response);
				if (response.success) {
					console.log(response.data)
					// Optionally, update the UI to reflect the change
					//fetchNotificationNotRead(userId); -->
				} else {
					console.error("Failed to mark notification as read");
				}
			}).catch((error) => {
				console.error("Error:", error);
			});
		}

		function showMainNotification(data, userid) {
			const message_box = document.getElementById("message-box");
			const message_content = document.getElementById("message-content");
			const message_type = document.getElementById("message-type");
			const message_icon_parent = document.getElementById("message-icon-parent");
			const message_icon_child = document.getElementById("message-icon-child");
			const link_common_message = document.getElementById("common_message");

			//link_common_message.href = `${data.link}`;
			message_content.innerHTML = `You have received a new notification ! check notification inbox`;
			card.style.display = "flex";
			card.style.borderLeft = "10px solid #3db5dc";
			message_type.innerHTML = `notification`;
			message_type.style.color = "#3db5dc";
			message_icon_parent.style.color = "#3db5dc";
			message_icon_child.classList = "fas fa-exclamation-circle";

			link_common_message.onclick = function () {
				markAsRead(data.notification_id);
			};

			const main_notification_null = document.getElementById('main_notification-null');

			if (main_notification_null && main_notification_null.style.display !== "none") {
				main_notification_null.style.display = "none";
			}

			const main_notification_all = document.getElementById("main_notification_all");
			const main_notification_count = document.getElementById("main_notification_count");

			// Parse and format the timestamp
			const timestamp = new Date(data.timestamp);

			// Format the date as "MM/DD/YYYY"
			const formattedDate = timestamp.toLocaleDateString('en-US', {
				month: '2-digit',
				day: '2-digit',
				year: 'numeric'
			});

			// Format the time as "HH:MM AM/PM"
			const formattedTime = timestamp.toLocaleTimeString('en-US', {
				hour: '2-digit',
				minute: '2-digit',
				hour12: true
			});


			// Check if a notification with the same id already exists
			let str = `
<li data-notification-id="${data.notification_id}"
										onclick="markAsRead_mainNofication(${data.notification_id})">

										<a href="${data.link}">

											<div
												style="display: flex;justify-content: center;align-items: center;margin-top: 10px;margin-left: 10px;position:relative;">
												<span id="notification_count"
													style="display: none;position: absolute;top: 2px;left: 0px;width: 10px;height: 10px;background: green;color: #ffffff;display: flex;justify-content: center;align-items: center;border-radius: 50%;"></span>
												<img src="/static/img/admin_image.png"
													style="width:50px;height:50px;border-radius:50px;" />
												<div class="dropdown-item"
													style="font-weight: 600;display:block;text-wrap:wrap;color:grey;">
													
													${data.message}
												</div>
											</div>
											<!-- <p style="color: grey; padding: 0px 15px;">
												<span style="float: right;">${formattedDate} ${formattedTime}</span>
											</p> -->
										</a>
									</li>
								<hr style="margin-bottom:0px;">
									


				`;

			chatbottom = document.getElementById("chatbottom")
			if (!chatbottom) {
				str += `<div id="chatbottom" style="position: sticky; bottom: 0; background-color: #fff; padding: 10px; text-align: center; border-top: 1px solid #ddd;" onClick="mark_all_notification_as_read(${userid})">
		<a href="/contact-list/" style="color: #ff4667; font-weight: 500;">
			Mark All Read
		</a>
	</div>`
			}
			console.log(str)

			main_notification_all.innerHTML = str + main_notification_all.innerHTML;


			// Update the main notification count
			main_notification_count.style.display = "block";
			const currentMainCount = parseInt(main_notification_count.innerHTML);
			main_notification_count.innerHTML = currentMainCount + 1;
		}

		async function mainFetchNotification(userid) {
			const url = new URL(`${window.location.origin}/api/main-notification/notifications-for-user/`);
			url.searchParams.append('user_id', userid);

			await fetch(url, {
				method: "GET",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				}
			}).then((response) => {
				return response.json();
			}).then((response) => {
				console.log(response);
				if (response.success) {
					const main_notification_all = document.getElementById("main_notification_all");
					const main_notification_count = document.getElementById("main_notification_count");
					let str = "";
					let totalnotification = 0;

					if (response.data.length > 0) {
						response.data.forEach((data) => {
							// Parse and format the timestamp
							const timestamp = new Date(data.timestamp);

							// Format the date as "MM/DD/YYYY"
							const formattedDate = timestamp.toLocaleDateString('en-US', {
								month: '2-digit',
								day: '2-digit',
								year: 'numeric'
							});

							// Format the time as "HH:MM AM/PM"
							const formattedTime = timestamp.toLocaleTimeString('en-US', {
								hour: '2-digit',
								minute: '2-digit',
								hour12: true
							});

							if (data.is_read) {
								str += `<li data-notification-id="${data.id}"
										>
										<a href="${data.link}">

											<div
												style="display: flex;justify-content: center;align-items: center;margin-top: 10px;margin-left: 10px;">
												
												<img src="/static/img/admin_image.png"
													style="width:50px;height:50px;border-radius:50px;" />
												<div class="dropdown-item"
													style="font-weight: 600;display:block;text-wrap:wrap;color:grey;">
													
													${data.message}
												</div>
											</div>
											<!-- <p style="color: grey; padding: 0px 15px;">
												<span style="float: right;">${formattedDate} ${formattedTime}</span>
											</p> -->
										</a>
									</li>
								<hr style="margin-bottom:0px;">
									`



							}
							else {

								str += `
								<li data-notification-id="${data.id}"
										onclick="markAsRead_mainNofication(${data.id})">

										<a href="${data.link}">

											<div
												style="display: flex;justify-content: center;align-items: center;margin-top: 10px;margin-left: 10px;position:relative;">
												<span id="notification_count"
													style="display: none;position: absolute;top: 2px;left: 0px;width: 10px;height: 10px;background: green;color: #ffffff;display: flex;justify-content: center;align-items: center;border-radius: 50%;"></span>
												<img src="/static/img/admin_image.png"
													style="width:50px;height:50px;border-radius:50px;" />
												<div class="dropdown-item"
													style="font-weight: 600;display:block;text-wrap:wrap;color:grey;">
													
													${data.message}
												</div>
											</div>
											<!-- <p style="color: grey; padding: 0px 15px;">
												<span style="float: right;">${formattedDate} ${formattedTime}</span>
											</p> -->
										</a>
									</li>
								<hr style="margin-bottom:0px;">

									
									`;
								totalnotification += 1;

							}
						});

						if (totalnotification > 0) {

							main_notification_count.innerHTML = totalnotification;
							main_notification_count.style.display = "block";
						}
						str += `<div id="chatbottom" style="position: sticky; bottom: 0; background-color: #fff; padding: 10px; text-align: center; border-top: 1px solid #ddd;" onClick="mark_all_notification_as_read(${userid})">
		<a href="#" style="color: #ff4667; font-weight: 500;">
			Mark All Read
		</a>
	</div>`
						main_notification_all.innerHTML = str;



					} else {
						str = `
							<li style="display: flex; justify-content: center; align-items: center; width: 100%; height: 80px;" id="main_notification-null">
								<div>Your Notification list is empty</div>
							</li>
						`;
						main_notification_count.style.display = "none";
						main_notification_count.innerHTML = "0";
						main_notification_all.innerHTML = str;
					}

				}
			});
		}

		async function markAsRead_mainNofication(id) {
			const url = new URL(`${window.location.origin}/api/main-notification/${id}/`);

			await fetch(url, {
				method: "PATCH",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				},
				body: JSON.stringify({
					is_read: true
				})
			}).then((response) => {
				return response.json();
			}).then((response) => {
				console.log(response.success)
			})
		}

		function sharebutton(username) {
			const shareButtonElement = document.getElementById('share-button');

			if (shareButtonElement) {
				shareButtonElement.addEventListener('click', function (event) {
					event.preventDefault();

					const shareUrl = `${window.location.origin}/${username}/`;

					if (navigator.share) {
						navigator.share({
							title: 'User profile',
							text: 'Check out this Link!',
							url: shareUrl, // Use the dynamic URL
						}).then(() => {
							console.log('Thanks for sharing!');
						}).catch((error) => {
							console.log('Something went wrong', error);
						});
					} else {
						alert('Sharing not supported on this browser.');
					}
				});
			}

		}



		async function get_other_user(id) {
			await fetch(`${window.location.origin}/api/conversations/user-conversations/?user_id=${id}`, {
				method: "GET",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				}


			}).then((response) => {
				return response.json()
			}).then((response) => {
				console.log("base", response)
				fetch_pages()

				if (response.success) {
					if (response.data.length > 0) {

						str = ""
						let main_username = ""

						response.data.forEach((data) => {
							if (data.user1 == id) {
								console.log("if")
								main_username = data.user2_username
							}
							else {
								console.log("else")

								main_username = data.user1_username

							}
							console.log(main_username)
							str += `<li><a href="/${main_username}/">${main_username}</a></li>`
						})
						document.getElementById("all_creators_authenticated").innerHTML = str
					}
					else {
						let str = `<li><a href="##">Your contact-list is empty</a></li>`
						document.getElementById("all_creators_authenticated").innerHTML = str
					}
				}
			})
		}
		function talking_to_empty() {
			fetch_pages()

			let str = `<li><a href="##">Your contact-list is empty Login and create contact's</a></li>`
			document.getElementById("all_creators_unauthenticated").innerHTML = str
		}

		async function check_user_creator() {
			await fetch(`${window.location.origin}/api/creator-approval/create_approval_status/`, {
				method: "POST",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				},
				body: JSON.stringify({ "user": profileId })


			}).then((response) => {
				return response.json()
			}).then((response) => {
				if (response.success) {
					str = ``
					str2 = ``
					if (response.status == "approved") {

						str = `<a href="/creator/" >Creator Dashbored</a>`
						str2 = `<i class="bx bxs-tachometer"></i>Dashboard`
					}
					else {
						str = `<a href="/creator/" >Become a Creator</a>`
						str2 = `<i class="bx bxs-tachometer"></i>Become a Creator`

					}
					document.getElementById("user_dashbored").innerHTML = str
					if (document.getElementById("creator_check")) {
						document.getElementById("creator_check").innerHTML = str2
					}

					document.getElementById('footer-creator-link').innerHTML="Creator Dashboared"
				}
			})
		}

		async function mark_all_notification_as_read(userid) {
			card.style.display = "block"
			await fetch(`${window.location.origin}/api/main-notification/
			mark-all-user-notifications-read/`, {
				method: "POST",
				headers: {
					"content-type": "application/json",
					"Authorization": `Bearer ${authenticated}`
				},
				body: JSON.stringify({ "user_id": userid })


			}).then((response) => {
				return response.json()
			}).then((response) => {
				if (response.success) {
					card.style.display = "flex";
					card.style.borderLeft = "10px solid green";

					message_content.innerHTML = response.message;
					message_type.innerHTML = "Success";
					message_type.style.color = "green";
					message_icon_parent.style.color = "green";
					message_icon_child.classList = "fas fa-check-circle";
					mainFetchNotification(userid)
					main_notification_count.innerHTML = '0';
					main_notification_count.style.display = "none";

				}
				else {
					card.style.display = "flex";
					card.style.borderLeft = "10px solid #3db5dc";
					message_content.innerHTML = response.message;
					message_type.innerHTML = "Info";
					message_type.style.color = "#3db5dc";
					message_icon_parent.style.color = "#3db5dc";
					message_icon_child.classList = "fas fa-exclamation-circle";
				}
			})
		}

		document.addEventListener('DOMContentLoaded', function () {
			function handleContentVisibility() {
				var content = document.getElementById('user_not_authenticatd');

				if (window.innerWidth <= 767) {
					if (authenticated) {
						// Add the class to show content
						content.classList.add('authenticated');
					} else {
						// Remove the class to hide content
						content.classList.remove('authenticated');
						content.style.display = 'none'; // Optionally, add an inline style for extra control
					}
				}
			}

			// Initial check on page load
			handleContentVisibility();

		})



		if (authenticated) {
			document.getElementById("footer-authentication").innerHTML = `<div class="footer-widget footer-menu">
								<h2 class="footer-title footer-policy-link">Creator Links</h2>
								<ul>
									<li><a href="/index/">Home</a></li>
									<li><a href="/myprofile/">My Profile</a></li>
									<li><a href="/myvideo/">My videos</a></li>
									<!-- <li><a href="/contact-list/">Contact-List</a></li> -->
									<li><a href="/creator/" id="footer-creator-link">Become Creator</a></li>
									<!-- <li><a href="/upload-video/">Uplaod-Videos</a></li> -->



									<li><a href="#" onclick="LogoutApi()">Logout</a></li>

								</ul>
							</div>`

							
			document.getElementById("footer-authentication").style.display="block"
			document.getElementById("footer-unauthentication").style.display="none"
			
		} else {
			document.getElementById("footer-unauthentication").innerHTML = `<div class="footer-widget footer-menu">
				<h2 class="footer-title footer-policy-link">Creator Links</h2>
								<ul>
									<li><a href="/index/">Home</a></li>
									<li><a href="/signin/">Login</a></li>
									<li><a href="/signup/">Signu Up</a></li>
									<li><a href="/forgot-password/">Forgot Password</a></li>
								</ul>
			</div>`

			document.getElementById("footer-authentication").style.display="None"
			document.getElementById("footer-unauthentication").style.display="block"

		}

		async function fetch_pages() {
			await fetch(`${window.location.origin}/api/page/?no_pagination=true`, {
				'method': "get",
			}).then((response) => {
				return response.json()
			}).then((response) => {
				console.log("base_pages", response)
				if (response.success) {
					if (response.data.length > 0) {
						str = ``
						footer_common_links=``
						response.data.forEach((data) => {
							console.log("show_in_footer",data.show_in_footer)
							if (data.show_in_menu) {
								
								str += `<li class="has-submenu">
									<!-- <a class="" href="#">Home <i class="fas fa-chevron-down"></i></a> -->
									<a href="/page/${data.page_url}/">${data.page_name} </a>
								</li>`
							}
							if (data.show_in_footer){
										
								footer_common_links+=`<li><a href="/page/${data.page_url}/">${data.page_name}</a></li>`
							}
						})
						console.log("str", str)
						document.getElementById("menu-add-authenticated").innerHTML += str
						document.getElementById("menu-add-unauthenticated").innerHTML += str
						console.log("footer_common_links",footer_common_links)
						document.getElementById("footer-common-links").innerHTML=`<div class="footer-widget footer-menu">
							<h2 class="footer-title">Support & Policy</h2>
							<ul>
								${footer_common_links}

							</ul>
						</div>`
					}
				}
			})
		}


	</script>
	{% block script %}

	{% endblock script %}



</body>

</html>