<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Dreams LMS</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.svg">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/static/plugins/fontawesome/css/all.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="/static/css/feather.css">

	<!-- Boxioons CSS -->
	<link rel="stylesheet" href="/static/plugins/boxicons/css/boxicons.min.css">

	<!-- Swiper CSS -->
	<link rel="stylesheet" href="/static/plugins/swiper/swiper.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/message_box.css">

</head>

<body class="chat-page main-chat-blk">

	<div class="wrapper-success" id="message-box" style="position: fixed;z-index:1000000;width:50%;">
		<div id="card" style="transition-duration: 2s;width:100%">
			<div class="icon" id="message-icon-parent"><i class="fas fa-times-circle " id="message-icon-child"></i>
			</div>
			<div class="subject">
				<h3 id="message-type">Success</h3>
				<p id="message-content">Anyone with access can view your invited visitors</p>
			</div>
			<div class="icon-times" id="message_close"><i class="fas fa-times"></i></div>
		</div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper chat-wrapper">

		<!-- Header -->

		<!-- /Header -->

		<!-- Breadcrumb -->

		<!-- /Breadcrumb -->

		<!-- Page Content -->
		<div class="page-content chat-page-wrapper" style="padding:0px;">
			<div class="container">
				<div class="row" style="display: flex;
    justify-content: center;">

					<!-- sidebar -->

					<!-- Student Profile -->
					<div class="col-xl-9 col-lg-9 theiaStickySidebar">

						<div class="settings-widget card-details mb-0">
							<a href="/myprofile/">

								<div class="add-course btn-primary" id="Send_Message" style="    width: fit-content;
    margin: 13px;">Back</div>
							</a>
							<div class="settings-menu p-0">
								<div class="profile-heading">
									<h3>Contact-list</h3>
								</div>

								<div class="checkout-form">
									<!-- sidebar group -->
									<div class="content">
										<div class="sidebar-group left-sidebar chat_sidebar" style="width:100%;">

											<!-- Chats sidebar -->
											<div id="chats" class="left-sidebar-wrap sidebar active slimscroll">

												<div class="slimscroll">

													<!-- Left Chat Title -->
													<div
														class="left-chat-title all-chats d-flex justify-content-between align-items-center">
														<div class="select-group-chat">
															<div class="dropdown">
																<a href="javascript:void(0);">
																	All Chats
																</a>

															</div>
														</div>
														<div class="add-section">
															<!-- <ul>
																<li><a href="javascript:void(0);"
																		class="user-chat-search-btn"><i
																			class="feather-search"></i></a></li>
															</ul> -->
															<!-- Chat Search -->
															<!-- <div class="user-chat-search">
																<form>
																	<span class="form-control-feedback"><i
																			class="feather-search"></i></span>
																	<input type="text" name="chat-search"
																		placeholder="Search" class="form-control">
																	<div class="user-close-btn-chat"><i
																			class="feather-x"></i></div>
																</form>
															</div> -->
															<!-- /Chat Search -->
														</div>
													</div>
													<!-- /Left Chat Title -->

													<!-- Top Online Contacts -->
													<!-- <div class="top-online-contacts">
														<div class="fav-title">
															<h6>Online Now</h6>
															<a href="#" class="view-all-chat-profiles">View All</a>
														</div>
														<div class="swiper-container">
															<div class="swiper-wrapper">
																<div class="swiper-slide">
																	<div class="top-contacts-box">
																		<div class="profile-img online">
																			<a href="#"><img
																					src="/static/img/user/user12.jpg"
																					alt="Image"></a>
																		</div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div class="top-contacts-box">
																		<div class="profile-img online">
																			<a href="#"><img
																					src="/static/img/user/user2.jpg"
																					alt="Image"></a>
																		</div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div class="top-contacts-box">
																		<div class="profile-img online">
																			<a href="#"><img
																					src="/static/img/user/user3.jpg"
																					alt="Image"></a>
																		</div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div class="top-contacts-box">
																		<div class="profile-img online">
																			<a href="#"><img
																					src="/static/img/user/user3.jpg"
																					alt="Image"></a>
																		</div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div class="top-contacts-box">
																		<div class="profile-img online">
																			<a href="#"><img
																					src="/static/img/user/user5.jpg"
																					alt="Image"></a>
																		</div>
																	</div>
																</div>
																<div class="swiper-slide">
																	<div class="top-contacts-box">
																		<div class="profile-img online">
																			<a href="#"><img
																					src="/static/img/user/user6.jpg"
																					alt="Image"></a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div> -->
													<!-- /Top Online Contacts -->

													<div class="sidebar-body chat-body" id="chatsidebar">

														<!-- Left Chat Title -->
														<!-- <div
															class="d-flex justify-content-between align-items-center ps-0 pe-0">
															<div class="fav-title pin-chat">
																<h6>Chats</h6>
															</div>
														</div> -->
														<!-- /Left Chat Title -->

														<!-- <ul class="user-list space-chat">
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);" class="status-active">
																	<div class="avatar avatar-online">
																		<img src="/static/img/user/user12.jpg"
																			class="rounded-circle" alt="image">
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Mark Villiams</h5>
																			<p>Have you called them?</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">10:20 PM</small>
																			<div class="chat-pin">
																				<i
																					class="fa-solid fa-thumbtack me-2"></i>
																				<i class="fa-solid fa-check-double"></i>
																			</div>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-log-out"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Unpin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																		</div>
																	</div>
																</div>
															</li>
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div>
																		<div class="avatar ">
																			<img src="/static/img/user/user5.jpg"
																				class="rounded-circle" alt="image">
																		</div>
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Elizabeth Sosa</h5>
																			<p><span class="animate-typing-col">Typing
																					<span class="dot"></span>
																					<span class="dot"></span>
																					<span class="dot"></span>
																				</span>
																			</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">Yesterday</small>
																			<div class="chat-pin">
																				<i class="fa-solid fa-thumbtack"></i>
																			</div>
																		</div>
																	</div>
																</a>
																<div class="chat-hover">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-log-out"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Unpin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																		</div>
																	</div>
																</div>
															</li>
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div class="avatar avatar-online">
																		<img src="/static/img/user/user3.jpg"
																			class="rounded-circle" alt="image">
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Michael Howard</h5>
																			<p>Thank you</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">10:20 PM</small>
																			<div class="chat-pin">
																				<i
																					class="fa-solid fa-thumbtack me-2"></i>
																				<i
																					class="fa-solid fa-check-double check"></i>
																			</div>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-log-out"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Unpin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																		</div>
																	</div>
																</div>
															</li>
														</ul> -->
														<!-- Left Chat Title -->
														<div
															class="d-flex justify-content-between align-items-center ps-0 pe-0">
															<div class="fav-title pin-chat">
																<h6>Chats</h6>
															</div>
														</div>
														<!-- /Left Chat Title -->
														<ul class="user-list" id="contact-list">
															
															<!-- <li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div class="avatar avatar-online">
																		<img src="/static/img/user/user11.jpg"
																			class="rounded-circle" alt="image">
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Horace Keene</h5> -->
																			<!-- <p>Have you called them?</p> -->
																		<!-- </div> -->
																		<!-- <div class="last-chat-time">
																			<small class="text-muted">Just Now</small>
																			<div class="chat-pin">
																				<span class="count-message">5</span>
																			</div>
																		</div> -->
																	<!-- </div> -->
																<!-- </a> -->
																<!-- <div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-trash"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Pin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Read</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#block-user"><span><i
																						class="bx bx-block"></i></span>Block</span>
																		</div>
																	</div>
																</div> -->
															<!-- </li> -->

															<!-- <li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div>
																		<div class="avatar avatar-online">
																			<img src="/static/img/user/user4.jpg"
																				class="rounded-circle" alt="image">
																		</div>
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Hollis Tran</h5>
																			<p><i class="bx bx-video me-1"></i>Video</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">Yesterday</small>
																			<div class="chat-pin">
																				<i class="fa-solid fa-check"></i>
																			</div>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-trash"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Pin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#block-user"><span><i
																						class="bx bx-block"></i></span>Block</span>
																		</div>
																	</div>
																</div>
															</li>
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div class="avatar">
																		<img src="/static/img/user/user.jpg"
																			class="rounded-circle" alt="image">
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>James Albert</h5>
																			<p><i class="bx bx-file me-1"></i>Project
																				Tools.doc</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">10:20 PM</small>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-trash"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Pin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#block-user"><span><i
																						class="bx bx-block"></i></span>Block</span>
																		</div>
																	</div>
																</div>
															</li>
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div>
																		<div class="avatar avatar-online">
																			<img src="/static/img/user/user6.jpg"
																				class="rounded-circle" alt="image">
																		</div>
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Debra Jones</h5>
																			<p><i
																					class="bx bx-microphone me-1"></i>Audio
																			</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">12:30 PM</small>
																			<div class="chat-pin">
																				<i
																					class="fa-solid fa-check-double check"></i>
																			</div>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-trash"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Pin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#block-user"><span><i
																						class="bx bx-block"></i></span>Block</span>
																		</div>
																	</div>
																</div>
															</li>
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div>
																		<div class="avatar ">
																			<img src="/static/img/user/user1.jpg"
																				class="rounded-circle" alt="image">
																		</div>
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Dina Brown</h5>
																			<p>Have you called them?</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">Yesterday</small>
																			<div class="chat-pin">
																				<i
																					class="fa-solid fa-microphone-slash"></i>
																			</div>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-trash"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Pin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#block-user"><span><i
																						class="bx bx-block"></i></span>Block</span>
																		</div>
																	</div>
																</div>
															</li>
															<li class="user-list-item chat-user-list">
																<a href="javascript:void(0);">
																	<div>
																		<div class="avatar avatar-online">
																			<img src="/static/img/user/user13.jpg"
																				class="rounded-circle" alt="image">
																		</div>
																	</div>
																	<div class="users-list-body">
																		<div>
																			<h5>Judy Mercer</h5>
																			<p class="missed-call-col"><i
																					class="bx bx-phone-incoming me-1"></i>Missed
																				Call</p>
																		</div>
																		<div class="last-chat-time">
																			<small class="text-muted">25/July/23</small>
																		</div>
																	</div>
																</a>
																<div class="chat-hover ms-1">
																	<div class="chat-action-col">
																		<span class="d-flex" data-bs-toggle="dropdown">
																			<i
																				class="fa-solid fa-ellipsis-vertical"></i>
																		</span>
																		<div
																			class="dropdown-menu chat-drop-menu dropdown-menu-end">
																			<span class="dropdown-item "><span><i
																						class="bx bx-archive-in"></i></span>Archive
																				Chat </span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#mute-notification"><span><i
																						class="bx bx-volume-mute"></i></span>Mute
																				Notification</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#change-chat"><span><i
																						class="bx bx-trash"></i></span>Delete
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-pin"></i></span>Pin
																				Chat</span>
																			<span class="dropdown-item"><span><i
																						class="bx bx-check-square"></i></span>Mark
																				as Unread</span>
																			<span class="dropdown-item"
																				data-bs-toggle="modal"
																				data-bs-target="#block-user"><span><i
																						class="bx bx-block"></i></span>Block</span>
																		</div>
																	</div>
																</div>
															</li> -->
														</ul>
													</div>

												</div>

											</div>
											<!-- / Chats sidebar -->
										</div>
										<!-- /Sidebar group -->

										<!-- Chat -->
										<!-- /Chat -->
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Student Profile -->

				</div>
			</div>
		</div>
		<!-- /Page Content -->

		<!-- Footer -->

	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->

	<script src="/static/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/static/js/bootstrap.bundle.min.js"></script>

	<!-- Sticky Sidebar JS -->
	<script src="/static/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
	<script src="/static/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>

	<!-- Slimscroll JS -->
	<script src="/static/js/jquery.slimscroll.min.js"></script>

	<!-- Swiper JS -->
	<script src="/static/plugins/swiper/swiper.min.js"></script>

	<!-- Custom JS -->
	<script src="/static/js/script.js"></script>


</body>
<script>

	const message_box = document.getElementById("message_box");
const message_content = document.getElementById("message-content");
const message_type = document.getElementById("message-type");
const message_icon_parent = document.getElementById("message-icon-parent");
const message_icon_child = document.getElementById("message-icon-child");

const card = document.getElementById("card");

const authenticated = localStorage.getItem("jerry_project_access_token");
console.log(authenticated);
if (authenticated) {
    console.log("called");
    let token = authenticated;

    const userApi = async () => {
        try {
            const userResponse = await fetch(`${window.location.origin}/api/user/`, {
                method: "get",
                headers: {
                    "content-type": "application/json",
                    "Authorization": `Bearer ${token}`
                }
            });

            const userData = await userResponse.json();

            if (userData.success) {
                const profileID = userData.data.id;

                const conversationsResponse = await fetch(`${window.location.origin}/api/conversations/user-conversations/?user_id=${profileID}`, {
                    method: "get",
                    headers: {
                        "content-type": "application/json",
                        "Authorization": `Bearer ${token}`
                    }
                });

                const conversationsData = await conversationsResponse.json();
				console.log(conversationsData)
                let str = "";

                if (conversationsData.data.length > 0) {
                    for (const data of conversationsData.data) {
                        let unreadmessages = 0;

                        const unreadMessagesResponse = await fetch(`${window.location.origin}/api/messages/unread-messages/?conversation_id=${data.id}`, {
                            method: "get",
                            headers: {
                                "content-type": "application/json",
                                "Authorization": `Bearer ${token}`
                            }
                        });

                        const unreadMessagesData = await unreadMessagesResponse.json();

                        if (unreadMessagesData.success) {
                            unreadmessages = unreadMessagesData.data.length;
                        }

                        let contact_list_image = "";
                        let contact_list_username = "";

                        if (profileID == data.user1) {
                            contact_list_image = data.user2_profile_picture;
                            contact_list_username = data.user2_username;
                        } else {
                            contact_list_image = data.user1_profile_picture;
                            contact_list_username = data.user1_username;
                        }

                        str += `<li class="user-list-item chat-user-list" data-id="${data.id}">
                            <a href="javascript:void(0);">
                                <div class="avatar">
                                    <img src="/media/${contact_list_image}" class="rounded-circle" alt="image">
                                </div>
                                <div class="users-list-body">
                                    <div>
                                        <h5>${contact_list_username}</h5>
                                    </div>
                                    <div class="last-chat-time">
                                        <div class="chat-pin">
                                            ${unreadmessages > 0 ? `<span class="count-message">${unreadmessages}</span>` : ''}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>`;
                    }

                    document.getElementById("contact-list").innerHTML = str;

                    document.getElementById("contact-list").addEventListener("click", async function (event) {
						if (event.target.closest(".user-list-item")) {
							const itemId = event.target.closest(".user-list-item").getAttribute("data-id");
					
							// Function to mark messages as read
							const markMessagesRead = async (conversationId) => {
								try {
									const response = await fetch(`${window.location.origin}/api/messages/mark-messages-read/`, {
										method: "POST",
										headers: {
											"content-type": "application/json",
											"Authorization": `Bearer ${token}`
										},
										body: JSON.stringify({ conversation_id: conversationId })
									});
									const data = await response.json();
									return data.success; // Assume the response contains a 'success' field indicating the status
								} catch (error) {
									console.error("Error marking messages as read:", error);
									return false;
								}
							};
					
							// Call the function and redirect if successful
							const success = await markMessagesRead(itemId);
							if (success) {
								console.log("Messages marked as read for conversation ID:", itemId);
								window.location.href = `/chatting/${itemId}/`;
							} else {
								console.log("Failed to mark messages as read for conversation ID:", itemId);
							}
						}
					});
                } else {
                    document.getElementById("contact-list").innerHTML = '<h3 style="color:grey;">Your Contact-list is empty</h3>';
                }
            } else {
                console.log(userData);
            }
        } catch (error) {
            console.error("An error occurred:", error);
        }
    };

    userApi();
} else {
    card.style.display = "flex";
    card.style.borderLeft = "10px solid #3db5dc";

    message_content.innerHTML = "You are not logged in";
    message_type.innerHTML = "Info";
    message_type.style.color = "#3db5dc";
    message_icon_parent.style.color = "#3db5dc";
    message_icon_child.classList = "fas fa-exclamation-circle";

	setTimeout(()=>{
		window.location.href="/index/"
	},1000)
}

document.getElementById("message_close").addEventListener('click', () => {
    if (card) {
        card.style.display = "none"; // Hide the card
        // Or, if you want to completely remove the card from the DOM:
        // card.remove();
    }
});


</script>

</html>