<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams LMS</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.svg">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/plugins/fontawesome/css/all.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    
    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="/static/plugins/feather/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/message_box.css">
</head>
<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
        <div class="row">
            <!-- Login Banner -->
            <div class="col-md-6 login-bg">
                <div class="owl-carousel login-slide owl-theme aos" data-aos="fade-up">
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>DreamsLMS Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>DreamsLMS Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                    <div class="welcome-login">
                        <div class="login-banner">
                            <img src="/static/img/login-img.png" class="img-fluid" alt="Logo">
                        </div>
                        <div class="mentor-course text-center">
                            <h2>Welcome to <br>DreamsLMS Courses.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Login Banner -->
            
            <div class="col-md-6 login-wrap-bg">        
                <!-- Login -->
                <div class="login-wrapper">
                    <div class="loginbox">
                        <div class="img-logo">
                            <img src="/static/img/logo.svg" class="img-fluid" alt="Logo">
                            <div class="back-home">
                                <a href="/index/">Back to Home</a>
                            </div>
                        </div>
                        <h1>Forgot Password ?</h1>
                        <!-- Success messagae start  -->
                        <div class="wrapper-success" id="message-box">
                            <div id="card">
                                <div class="icon" id="message-icon-parent"><i class="fas fa-times-circle" id="message-icon-child"></i></div>
                                <div class="subject">
                                    <h3 id="message-type">Success</h3>
                                    <p id="message-content">Anyone with access can view your invited visitors</p>
                                </div>
                                <div class="icon-times" id="message_close"><i class="fas fa-times"></i></div>
                            </div>
                        </div>
                        <!-- Success messagae end  -->
                        <div class="reset-password">
                            <p>Enter your email to reset your password.</p>
                        </div>
                        <form id="forgot_password_form">
                            <div class="input-block">
                                <label class="form-control-label">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="Enter your email address" required="true">
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-start" type="submit" role="submit" id="submit_button">Submit</button>
                                <span id="timer" style="display: none; margin-left: 10px;"></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Login -->
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    
    <!-- jQuery -->
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="/static/js/bootstrap.bundle.min.js"></script>

    <!-- Owl Carousel -->
    <script src="/static/js/owl.carousel.min.js"></script>    
    
    <!-- Custom JS -->
    <script src="/static/js/script.js"></script>

    <script>
    const email = document.getElementById("email");
    const messageBox = document.getElementById("message-box");
    const messageContent = document.getElementById("message-content");
    const messageType = document.getElementById("message-type");
    const messageIconParent = document.getElementById("message-icon-parent");
    const messageIconChild = document.getElementById("message-icon-child");
    const card = document.getElementById("card");
    const submitButton = document.getElementById("submit_button");
    const timerSpan = document.getElementById("timer");
    const timeoutDuration = 30; // in seconds

    function getCSRFToken() {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, 'csrftoken'.length + 1) === ('csrftoken' + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring('csrftoken'.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    document.getElementById('forgot_password_form').addEventListener('submit', async function (e) {
        e.preventDefault();
        card.style.display = "none";

        let data = {
            email: email.value
        };

        await fetch(`${window.location.origin}/api/forgot-password/`, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": getCSRFToken()
            },
            body: JSON.stringify(data)
        }).then(response => response.json())
          .then(response => {
			  console.log(response);
              if (response.success) {
				  scrollToTop();
                  card.style.display = "flex";
                  card.style.borderLeft = "10px solid green";
                  messageContent.innerHTML = response.message;
                  messageType.innerHTML = "Success";
                  messageType.style.color = "green";
                  messageIconParent.style.color = "green";
                  messageIconChild.classList = "fas fa-check-circle";
                  valueReset();

                  // Show the timer and disable the submit button
                  let remainingTime = timeoutDuration;
                  timerSpan.style.display = 'inline';
                  timerSpan.textContent = `(${remainingTime}s)`;
                  submitButton.disabled = true;
                  
                  const countdown = setInterval(() => {
                      remainingTime -= 1;
                      timerSpan.textContent = `(${remainingTime}s)`;
                      if (remainingTime <= 0) {
                          clearInterval(countdown);
                          submitButton.disabled = false;
                          timerSpan.style.display = 'none';
                      }
                  }, 1000);
              } else {
                  console.log(response.message);
                  messageContent.innerHTML = response.message;
                  card.style.display = "flex";
                  card.style.borderLeft = "10px solid red";
                  messageType.innerHTML = "Error";
                  messageType.style.color = "red";
                  messageIconParent.style.color = "red";
                  messageIconChild.classList = "fas fa-times-circle";
                  scrollToTop();
              }
          }).catch(error => {
              console.error('Error:', error);
          });
    });

    document.getElementById("message_close").onclick = () => {
        card.style.display = "none";
    };

    function valueReset() {
        email.value = "";
    }

    function scrollToTop() {
        window.scrollTo(0, 0);
    }
    </script>
</body>
</html>
