{% extends "base.html" %}
{% block style %}

{% endblock style %}
{% block link %}

{% endblock link %}
{% block body %}


<!-- Breadcrumb -->
<div class="breadcrumb-bar breadcrumb-bar-info" style="margin-top: 100px;">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-12">
				<div class="breadcrumb-list">
					<h2 class="breadcrumb-title">Profile</h2>
					<nav aria-label="breadcrumb" class="page-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Profile</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Breadcrumb -->

<!-- Page Content -->
<div class="page-content">
	<div class="container">
		<div class="row">

			<!-- sidebar -->
			<div class="col-xl-3 col-lg-3 theiaStickySidebar">
				<div class="settings-widget dash-profile">
					<div class="settings-menu">
						<div class="profile-bg">
							<div class="profile-img">
								<a href="/myprofile/"><img id="profile_page_image"
										src="/media/profile_pictures/default_profile_image.png" alt="Img"></a>
							</div>
						</div>
						<div class="profile-group">
							<div class="profile-name text-center">
								<h4 id="profile_page_username2"> Username</h4>
								<div class="add-course btn-primary" id="Send_Message">Send Message</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card feature-sec">
					<div class="card-body">
						<div class="cat-title">
							<h4>Highlights</h4>
						</div>
						<ul>
							<li><img src="/static/img/icon/users.svg" class="me-2" alt="Img"> Followers  <span>0
								</span></li>
							<li><img src="/static/img/icon/timer.svg" class="me-2" alt="Img"> Videos: <span
									id="post_view_video_duration">0 </span></li>
							<!-- <li><img src="/static/img/icon/chapter.svg" class="me-2" alt="Img"> Chapters: <span>15</span></li> -->
							<!-- <li><img src="/static/img/icon/video.svg" class="me-2" alt="Img"> Video:<span> 12 hours</span></li> -->
							<li><img src="/static/img/icon/chart.svg" class="me-2" alt="Img"> Video Purchased: <span
									id="post_reviews_2">0</span></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Sidebar -->

			<!-- Instructor profile -->
			<div class="col-xl-9 col-lg-9">

				<div class="settings-widget card-details mb-0">
					<div class="settings-menu p-0">
						<div class="profile-heading">
							<h3 id="profile_page_username3">Profile</h3>
						</div>
						<div class="checkout-form personal-address">
							<div class="row">
								<div class="col-sm-6">
									<div class="contact-info">
										<h6>User Name</h6>
										<p id="profile_page_username">Not Provided</p>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="contact-info">
										<h6>First Name</h6>
										<p id="profile_page_firstname">Not Provided</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="contact-info">
										<h6>Email</h6>
										<p id="profile_page_email">Not Provided</p>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="contact-info">
										<h6>Last Name</h6>
										<p id="profile_page_lastname">Not Provided</p>
									</div>
								</div>

								



								<div class="col-sm-12">
									<div class="contact-info mb-0">
										<h6>Bio</h6>
										<p id="profile_page_bio">Not Provided</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- /Instructor profile -->


				<div class="settings-widget card-info" style="margin-top: 20px;">
					<div class="settings-menu p-0">
						<div class="profile-heading">
							<h3 id="other_user_username">User Videos</h3>
							<p id="other_user_paragraph">Most Recent Videos by the User </p>
						</div>
						<div class="checkout-form pb-0">
							<div class="wishlist-tab">
								<ul class="nav">
								</ul>
							</div>

							<div class="tab-content">
								<div class="tab-pane fade show active" id="enroll-courses">
									<div class="row" id="all_posts">

										<!-- Course Grid -->

										<!-- /Course Grid -->

										<!-- Course Grid -->

										<!-- /Course Grid -->

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="dash-pagination">
					<div class="row align-items-center">
						<div class="col-6">
							<p class="pagination_list">Page 1 of 2</p>
						</div>
						<div class="col-6">
							<ul class="pagination">
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#"><i class="bx bx-chevron-right"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- /Instructor Courses -->

<!-- /Page Content -->
{% endblock body %}

{% block script %}
<script>
	const pathArray = window.location.pathname.split('/');
	const username = pathArray[pathArray.length - 2];
	let other_user = "";
	console.log("called")
	userApi = async () => {
		await fetch(`${window.location.origin}/api/user/retrieve-by-username/?username=${username}`, {
			"method": "get",
			"headers": {
				"content-type": "application/json",
			}
		}).then((response) => {
			return response.json()
		}).then((response) => {

			if (response.success) {
				other_user = response.data.user.id

				console.log(response.data)

				if (response.data.user.profile_picture == "") {
					document.getElementById("profile_page_image").src = '/media/profile_pictures/default_profile_image.png'

				}
				else {

					document.getElementById("profile_page_image").src = `${response.data.user.profile_picture}`
				}


				console.log(response.data.user.username)
				if (response.data.user.username == "") {
					document.getElementById("profile_page_username").innerHTML = "Not Provided"
					document.getElementById("profile_page_username2").innerHTML = "username"
					document.getElementById("profile_page_username3").innerHTML = "Profile"



				}
				else {
					document.getElementById("profile_page_username").innerHTML = `${response.data.user.username}`
					document.getElementById("profile_page_username2").innerHTML = response.data.user.username.length > 14 ? `${response.data.user.username.substring(0, 14)}...` : response.data.user.username;
					document.getElementById("profile_page_username3").innerHTML = `${response.data.user.username}'s Profile`

	document.getElementById("other_user_username").innerHTML=`${response.data.user.username}'s Videos`
	document.getElementById("other_user_paragraph").innerHTML=`Most Recent Videos by the ${response.data.user.username}`





				}

				if (response.data.user.first_name == "") {
					document.getElementById("profile_page_firstname").innerHTML = "Not Provided"

				}
				else {

					document.getElementById("profile_page_firstname").innerHTML = `${response.data.user.first_name}`
				}

				if (response.data.user.last_name == "") {
					document.getElementById("profile_page_lastname").innerHTML = "Not Provided"

				}
				else {

					document.getElementById("profile_page_lastname").innerHTML = `${response.data.user.last_name}`
				}
				console.log("user_bio",response.data.user.bio )
				if (response.data.user.bio == "") {
					document.getElementById("profile_page_bio").innerHTML = "Not Provided"

				}
				else {

					document.getElementById("profile_page_bio").innerHTML = `${response.data.user.bio}`
				}

				if (response.data.user.email == "") {
					document.getElementById("profile_page_email").innerHTML = "Not Provided"

				}
				else {

					document.getElementById("profile_page_email").innerHTML = `${response.data.user.email}`
				}
				console.log("other_user_id", other_user)
				getUserPosts(other_user)


			}
			console.log(response)
		})
	}
	userApi()

	document.getElementById("Send_Message").addEventListener('click', create_conversation);

	async function create_conversation() {
		const user_authenticated = localStorage.getItem("jerry_project_access_token");

		if (user_authenticated) {
			try {
				// Fetch user profile
				const userResponse = await fetch(`${window.location.origin}/api/user/`, {
					method: "GET",
					headers: {
						"Content-Type": "application/json",
						"Authorization": `Bearer ${user_authenticated}`
					}
				});

				const userData = await userResponse.json();

				if (userResponse.ok && userData.success) {
					// Prepare conversation data
					const data = {
						"user1": other_user, // Make sure profileId is defined elsewhere in your code
						"user2": userData.data.id
					};

					// Create conversation
					const conversationResponse = await fetch(`${window.location.origin}/api/conversations/`, {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
							"Authorization": `Bearer ${user_authenticated}`
						},
						body: JSON.stringify(data)
					});

					const conversationData = await conversationResponse.json();

					if (conversationResponse.ok && conversationData.success) {
						setTimeout(() => {
							window.location.href = "/contact-list/";
						}, 1000);
					} else {
						console.log(conversationData);
						showMessage("Failed to create conversation.", "error");
					}
				} else {
					console.log(userData);
					showMessage("Failed to fetch user profile.", "error");
				}
			} catch (error) {
				console.error('An error occurred:', error);
				showMessage("An error occurred. Please try again.", "error");
			}
		} else {
			card.style.display = "flex";
			card.style.borderLeft = "10px solid #3db5dc";

			message_content.innerHTML = "You are not logged in ";
			message_type.innerHTML = "Info";
			message_type.style.color = "#3db5dc";
			message_icon_parent.style.color = "#3db5dc";
			message_icon_child.classList = "fas fa-exclamation-circle";

		}
	}


	let currentPage = 1; // Track the current page
let totalPages = 1;  // Total pages, initially set to 1

const getUserPosts = async (id, page = 1) => {
    await fetch(`${window.location.origin}/api/upload-post/user-approved-posts/?user_id=${id}&page=${page}`, {
        method: "GET",
        headers: {
            "content-type": "application/json",
        }
    }).then(response => response.json())
        .then(response => {
            if (response.results) {
                console.log("User posts fetched successfully:", response);

                // Update total pages and current page
                totalPages = Math.ceil(response.count / 10);
				console.log(totalPages) // Assuming 10 posts per page
                currentPage = page;

                // Display posts
                displayPosts(response.results);

                // Update pagination UI
                updatePagination();
            } else {
                console.log("Failed to fetch user posts.");
            }
        }).catch(error => {
            console.error("Error fetching user posts:", error);
        });
};

const displayPosts = (data) => {
    let str = "";

    if (data.data.length === 0) {
        str = `
        <div style="width: 100%; padding: 53px 10px; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column">
            <i class="fas fa-exclamation-circle" style="color: #ff4667; font-size: 50px;"></i>
            <h4 style="text-align: center; width: 70%; margin: 10px; color: gray;">
                There are no approved posts of this user.
            </h4>
        </div>`;
    } else {
        data.data.forEach(post => {
            const timestamp = new Date(post.created_at);
            const formattedDate = timestamp.toLocaleDateString('en-US', {
                month: '2-digit',
                day: '2-digit',
                year: 'numeric'
            });
            const formattedTime = timestamp.toLocaleTimeString('en-US', {
                hour: '2-digit',
                minute: '2-digit',
                hour12: true
            });

            const truncatedTitle = post.title.length > 60 ? `${post.title.substring(0, 60)}...` : post.title;
            const videoSrc = post.preview || post.video;
            const hoverAttributes = videoSrc ? 'onmouseover="this.play()" onmouseout="this.pause()"' : '';
            const videoElement = videoSrc
                ? `<video style="width: 100%; height: 200px; object-fit: contain; object-position: center;" alt="Img" src="${videoSrc}" poster="${post.thumbnail}" ${hoverAttributes} muted></video>`
                : '<div class="video-error">No video available</div>';

            str += `
            <div class="col-xxl-4 col-md-6 d-flex">
                <div class="course-box flex-fill">
                    <div class="product">
                        <div class="product-img">
                            <a href="/post-view/${post.id}/">
                                ${videoElement}
                            </a>
                            <div class="price">
                                <h3>$${post.price}</h3>
                            </div>
                        </div>
                        <div class="product-content">
                            <h3 class="title instructor-text"><a href="/post-view/${post.id}/">${truncatedTitle}</a></h3>
                            <div class="course-info d-flex align-items-center">
                                <div class="course-view d-flex align-items-center">
                                    <img src="/static/img/icon/icon-02.svg" alt="Img">
                                    <p>${formattedDate} ${formattedTime}</p>
                                </div>
                            </div>
                            <div class="course-edit-btn d-flex align-items-center justify-content-between">
                                <a><i class="bx bx-comment me-2"></i>Reviews (<span>${post.post_review_count}</span>)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>`;
        });
    }

    document.getElementById('all_posts').innerHTML = str;
};

const updatePagination = () => {
    const paginationList = document.getElementsByClassName("pagination_list")[0];
    paginationList.innerHTML = `Page ${currentPage} of ${totalPages}`;

    const pagination = document.querySelector('.pagination');
    pagination.innerHTML = '';

    // Add "Previous" button only if we're not on the first page
    if (currentPage > 1) {
        pagination.innerHTML += `<li><a  onclick="getUserPosts(${other_user}, ${currentPage - 1}) " style="box-shadow: 0px 0px 10px 0px gray;"><i class="bx bx-chevron-left" style="font-size:25px;"></i></a></li>`;
    }

    // Add "Next" button only if we're not on the last page
    if (currentPage < totalPages) {
        pagination.innerHTML += `<li><a  onclick="getUserPosts(${other_user}, ${currentPage + 1})" style="box-shadow: 0px 0px 10px 0px gray;"><i class="bx bx-chevron-right" style="font-size:25px;"></i></a></li>`;
    }
};

// Initialize with the first page
getUserPosts(other_user);


</script>
{% endblock script %}